In [2]:
import pandas as pd
import numpy as np

# read data
data = pd.read_csv('data-project-ml-binned.csv')
data.head()

,HeartDiseaseorAttack,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,Diabetes,PhysActivity,Fruits,...,AnyHealthcare,NoDocbcCost,GenHlth,MentHlth,PhysHlth,DiffWalk,Sex,Age,Education,Income
0,0,1,1,1,Extremely Obese,1,0,0,0,0,...,1,0,5,d,d,1,0,9,4,3
1,0,0,0,0,Normal,1,0,0,1,0,...,0,1,3,NaN,NaN,0,0,7,6,1
2,0,1,1,1,Overweight,0,0,0,0,1,...,1,1,5,e,e,1,0,9,4,8
3,0,1,0,1,Overweight,0,0,0,1,1,...,1,0,2,NaN,NaN,0,0,11,3,6
4,0,1,1,1,Normal,0,0,0,1,1,...,1,0,2,a,NaN,0,0,11,5,4

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 253680 entries, 0 to 253679
Data columns (total 22 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   HeartDiseaseorAttack  253680 non-null  int64
 1   HighBP                253680 non-null  int64
 2   HighChol              253680 non-null  int64
 3   CholCheck             253680 non-null  int64
 4   BMI                   253680 non-null  object
 5   Smoker                253680 non-null  int64
 6   Stroke                253680 non-null  int64
 7   Diabetes              253680 non-null  int64
 8   PhysActivity          253680 non-null  int64
 9   Fruits                253680 non-null  int64
 10  Veggies               253680 non-null  int64
 11  HvyAlcoholConsump     253680 non-null  int64
 12  AnyHealthcare         253680 non-null  int64
 13  NoDocbcCost           253680 non-null  int64
 14  GenHlth               253680 non-null  int64
 15  MentHlth              78000 non-null   object
 16  PhysHlth              93628 non-null   object
 17  DiffWalk              253680 non-null  int64
 18  Sex                   253680 non-null  int64
 19  Age                   253680 non-null  int64
 20  Education             253680 non-null  int64
 21  Income                253680 non-null  int64
dtypes: int64(19), object(3)
memory usage: 42.6+ MB